.headings {
    font-family: 'Ubuntu', sans-serif;
}

.project-block {
    margin: 0px 50px 20px 50px;
    border: 3px solid; 
    border-radius: 10px;
}

.inputs {
    display: flex;
    justify-content: center;
    padding: 0px 5% 0 5%;
    margin-bottom: 20px;
}

.inputs > input, .inputs > button {
    margin: 0 5px 0 5px;
    width: 150px;
    height: 30px
}

.leaderboard-element {
    display: flex;
    margin: 0 15% 10px 15%;
    gap: 10px;
    background-color: burlywood;
    border-radius: 5px;
}

.leaderboard-element > div {
    margin: 5px 0px 5px 5px;
    width: 300px;
    height: 75px;
}

button {
    margin: 0px 10px 10px 10px;
}


